
/* Custom page header */
body {
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  padding-top: 55px;
  margin: 0 auto;
}
.form-signin .form-signin-heading {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
    font-family: "Helvetica Neue", inherit;
}

.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin .top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin .bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.forgot_pass
{
  display: block;
  margin-top: 10px;
}

.language_box
{
  margin: 5px;
  display: block;
}

.language_box ul li
{
  display: inline;
  margin: 5px;
}
